<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="logback/properties.xml" />

    <springProfile name="local">
        <include resource="logback/console-appender.xml" />
        <include resource="logback/file-db-appender.xml" />
        <include resource="logback/file-error-appender.xml" />
        <include resource="logback/file-warn-appender.xml" />

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE" />
            <appender-ref ref="ASYNC_DB_FILE" />
            <appender-ref ref="ASYNC_ERROR_FILE" />
            <appender-ref ref="ASYNC_WARN_FILE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback/console-appender.xml" />
        <include resource="logback/file-db-appender.xml" />
        <include resource="logback/file-error-appender.xml" />
        <include resource="logback/file-warn-appender.xml" />

        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE" />
            <appender-ref ref="ASYNC_DB_FILE" />
            <appender-ref ref="ASYNC_ERROR_FILE" />
            <appender-ref ref="ASYNC_WARN_FILE" />
        </root>
    </springProfile>

    <springProfile name="real">
        <include resource="logback/file-db-appender.xml" />
        <include resource="logback/file-error-appender.xml" />

        <root level="INFO">
            <appender-ref ref="ASYNC_DB_FILE" />
            <appender-ref ref="ASYNC_ERROR_FILE" />
        </root>
    </springProfile>

</configuration>