* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    margin: 0;
    top: 0;
}

ul {
    list-style: none;
}

/* Header */
header {
    top: 0;
    display: flex;
    height: 4.8rem;
    width: 100%;
    padding: 0.5em 1em;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(219, 219, 219);
    position: fixed;
    justify-content: center;
    z-index: 100;
}

body main {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.header__logo {
    margin-right: 1em;
    cursor: pointer;
    align-items: center;
}

.header__logo__img {
    height: 100%;
}

.header__search {
    padding: 1em;
}

.header__search__input {
    margin-left: auto;
    flex-basis: 50%;
    width: 15rem;
    font-size: 1.1rem;
    outline: 0;
    background: #efefef;
    border-radius: 0.2em;
    border: 0;
    padding: 0.4em 0.3em 0.3em 0.2em;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav_container {
    display: flex;
    height: 100%
}

.navbar__menu__item {
    cursor: pointer;
    margin-right: 1em;
}

.menu__icon {
    width: 24px;
    height: 24px;
}

/* Content */
.container {
    display: flex;
    height: 100%;
}

/* Post */
.container__post {
    flex-basis: 70%;
}

.post {
    max-width: 30rem;
    border: 1px solid #d8d8d8;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.post__header {
    display: flex;
    flex: 0 0 auto;
}

.post__profile {
    padding: 0.4em 0 0 0.4em;
}

.post__profile__img {
    width: 80%;
    cursor: pointer;
}

.post__header__name {
    flex-grow: 1;
}

.post__header__button {
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.post__header__button__img {
    width: 80%;
    cursor: pointer;
}

.post__image {
    width: 100%;
    height: 100%;
}

/* User */
.container__user {
    flex-basis: 50%;
    background: yellow;
}

/* Footer */
