* {
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;
}

main {
    height: 490px;
    width: 450px;
    padding: 50px 0;
    border: #EFEFEF solid 2px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

input {
    height: 45px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: #EFEFEF 1px solid;
    border-radius: 6px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.login_btn {
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border: white;
    margin-top: 20px;
    background-color: #458EFF;
    color: white;
    font-size: 17px;
}