* {
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

input {
    height: 45px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: #EFEFEF 1px solid;
    border-radius: 6px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.login_btn {
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border: white;
    margin-top: 20px;
    background-color: #458EFF;
    color: white;
    font-size: 17px;
}


.signin_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;


}


    .animation_Container {
        background-image: url("../images/main_phone.png");
        background-position: 0 0;
        background-size: 454px 618px;
        flex-basis: 454px;
        height: 618px;
        margin-left: -35px;
        margin-right: -15px;
    }
@media (max-width: 875px) {
    .animation_Container {
        display:none;
    }
}

.image_Container {
    margin: 99px 0 0 151px;
    position: relative;
}

.image_animation {
    height: 427px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 240px;
}

.change_animation2 {
    opacity: 1;
    visibility: visible;
}

.change_animation {
    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
    z-index: 2;
}

.change_animation,
.change_animation2 {
    opacity: 1;
    visibility: visible;
}

.button_container {
    display: flex;
    flex-direction: column;
}