.container {
    display: flex;
    margin-top: 80px;
}

.container__post {
    width: 40%;
    height: 85%;
    margin-left: 10%;
}

.post__image {
    width: 100%;
}

p {
    font-weight: normal;
    font-size: 1em;
    border: none;
    padding: 0;
    text-align: left;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container__comments {
    width:100%;
    margin-right: 5%;
}
.comments__item {
    padding: 1em;
}

.comments__item__container {
    display: flex;
    flex-direction: row;
}

.comments__item__profile {
    width: 50px;
    height: 40px;
    display: block;
    margin: 0;
}

.profile_image {
    height: 100%;
    width: 100%;
}

.comments__item__comment {
    padding: 0 1em;
    width: 100%;
}

.comments__item__content {
    margin: 0;
}

.comments__item__history {
    font-size: 0.8rem;
    color: gray;
}

.comments__item__like {
    margin-top: 9px;
}

.comments {
    display:flex;
    flex-direction: column;
    width:100%;

}

.like_image {
    width: 20px;
    cursor: pointer;
}


.post_page_container {
    max-width: 935px;
    flex-grow: 1;
    padding: calc(4vh) 20px 0;
    width: calc(100% - 40px);
}

.post_container {
    display: flex;
    flex-direction: row;
    max-height:600px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(219,219,219);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

}

.post_image {
    width:100%;
    height:100%;
}

.image_container {
    min-height: 450px;
    overflow: hidden;
    flex-grow:1;
}

.right_side_container {
    flex : 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 335px;
}

.author_container {
    display:flex;
    flex-direction: row;
}

.header_container {
    border-left: 1px solid rgb(219,219,219);
    border-bottom: 1px solid rgb(219,219,219);
}
.right_content_container {
    display:flex;
    flex-direction: column;
    flex-grow :1 ;
    height: calc(100% - 61px);
}

.content_comment_container {
    border-left: 1px solid rgb(219,219,219);
    flex-grow: 1;
    width:100%;
    overflow: hidden;


}
.content_comment_sub_container {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    padding: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 48px);
    padding: 14px 4px 14px 16px;
}
.author_username {
    margin-left: 14px;
}
.profile_image_container {
    width:32px;
    height:32px;
    overflow :hidden;
}

.member_profile_img {
    width:100%;
    height:100%;
}

.item_container {
    display:flex;
    flex-direction: row;
}

.item_sub_container {
    padding: 5px 16px 16px 0;
    width:auto;
}
