<!doctype html>
<html lang="en">
<th:block th:replace="fragments/head :: headFragment('instakyuram')"></th:block>
<link rel="stylesheet" href="/css/main.css"/>
<body>
<div th:replace="fragments/header :: headerFragment(username = ${member.username})"></div>
<div class='container'>
    <section>
        <div class='follows__container'></div>
        <div class='post__container'>
        </div>
    </section>
</div>
<script>
    const post_container = document.querySelector('.post__container');

    const size = 2;

    let hasNext = true;
    let lastId = 1000000;

    const padLeft = (word, length, fill_word) => {
        for(let i = word.length; i < length; i++) {
            word = fill_word.toString().concat(word);
        }
        return word;
    }

    const formatDate = (date) => {
        const year = date.getFullYear()
        const month = padLeft(date.getMonth().toString(), 2, '0');
        const day = padLeft(date.getDate().toString(), 2, '0');
        const hour = padLeft(date.getHours().toString(), 2, '0');
        const minutes = padLeft(date.getMinutes().toString(), 2, '0');
        const second = padLeft(date.getSeconds().toString(), 2, '0');

        return `${year}-${month}-${day} ${hour}:${minutes}:${second}`
    }

    const getCreatedDateToString = (date) => {
        let result = date;

        const now = new Date();
        const createdDate = new Date(date);

        const diffDate = now.getTime() - createdDate.getTime();
        const diffDay = Math.abs(diffDate / (1000 * 60 * 60 * 24));

        if (diffDay < 1) {
            result = '오늘';
        } else if (diffDay === 1) {
            result = '어제';
        } else if (diffDay > 30) {
            result = Math.floor(diffDay / 30) + '달전';
        } else if (diffDay > 364) {
            result = Math.floor(diffDay / 365) + '년전';
        }
        else {
            result = Math.floor(diffDay) + '일전';
        }
        return result;
    }

    const search = (lastId) => {
        if (!hasNext) {
            return;
        }

        const now = new Date();
        const endDate = formatDate(new Date(now.setMonth(now.getMonth() + 1)));
        const startDate = formatDate(new Date(now.setMonth(now.getMonth() - 4)));

        axios({
            method: "GET",
            url: 'api/posts',
            params: {
                'size': size,
                'postPagingCriteria.startDate': startDate,
                'postPagingCriteria.endDate': endDate,
                'postPagingCriteria.id': lastId,
            }
        }).then((res) => {
            renderPosts(res.data.response);
        }).catch((error) => {
            console.error(error);
        })
    }

    search(lastId);

    const renderPosts = (posts) => {
        hasNext = posts.hasNext;
        lastId = posts.lastId;
        let postsHTML = '';
        posts.responses.map(post => {
            const postImage = post.postImageResponse == null || post.postImageResponse.length === 0 ? '/images/sample.png' : 'http://localhost:8080/api/posts/' + post.id + '/image/' + post.postImageResponse[0].serverFileName;
            postsHTML += `
                <div class="post_item">
                    <div class='post__header'>
                        <div class='post__writer'>
                            <div class='post__profile_container'>
                                <img
                                        class='profile_image'
                                        src="/images/icon/account.png"
                                        alt=""
                                />
                            </div>
                            <div class='post__writer_info'>
                                <p class='post__writer_username'>${post.member.username}</p>
                                <p class='post__writer_location'>Big Ben, London</p>
                            </div>
                        </div>
                        <div class='post__header_button'>
                            <img
                                    class='more_horiz_button'
                                    src="/images/icon/more_horiz.png"
                                    alt=""
                            />
                        </div>
                    </div>
                    <div class='post__images'>
                        <img
                                class='post__image'
                                src=${postImage}
                                alt=""
                        />
                    </div>
                    <div class='post__buttons'>
                        <div class='post__buttons__left'>
                            <img
                                    class='post_like_button'
                                    src="/images/icon/favorite.png"
                                    alt=""
                            />
                            <img
                                    class='post_comment_button'
                                    src="/images/icon/comment.png"
                                    alt=""
                            />
                            <img
                                    class='post_near_me_button'
                                    src="/images/icon/near_me.png"
                                    alt=""
                            />
                        </div>
                        <div class='post__buttons__right'>
                            <img
                                    class='post_bookmark_button'
                                    src="/images/icon/bookmark.png"
                                    alt=""
                            />
                        </div>
                    </div>
                    <div class='post__likes'>
                        <p>좋아요 ${post.totalPostLike}개</p>
                    </div>
                    <div class='post__comments'>
                        <p>
                            <span class='post__comment__writer'>${post.member.username}</span> ${post.content}
                        </p>
                    </div>
                    <p class='post_created_date'>${getCreatedDateToString(post.createdAt)}</p>
                </div>
            `
        });

        post_container.insertAdjacentHTML("beforeend", postsHTML);
    }

    const getScrollTop = () => {
        return (window.scrollY !== undefined) ? window.scrollY : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    };

    const getDocumentHeight = () => {
        const body = document.body;
        const html = document.documentElement;

        return Math.max(
            body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight
        );
    };

    let throttleCheck;
    const throttle = (callback, milliseconds) => {
        if (!throttleCheck) {
            throttleCheck = setTimeout(() => {
                callback();
                throttleCheck = false;
            }, milliseconds);
        }
    };

    const onscroll = () => {
        throttle(() => {
            if (getScrollTop() < getDocumentHeight() - window.innerHeight)
                return;
            search(lastId);
        }, 700);
    };

    window.addEventListener("scroll", onscroll);
</script>
</body>
</html>