<!doctype html>
<html lang="en">
<th:block th:replace="fragments/head :: headFragment('')"></th:block>
<link rel="stylesheet" th:href="@{/css/post-details.css}"/>
<body>
<div th:replace="fragments/header :: headerFragment(username = (${auth == null} ? '/signin' : ${auth?.username}))"></div>
<main>
    <div class="post_page_container">
        <div class="post_container">
            <div class="image_container">
                <img th:src="@{/images/default_profile.jpg}" class="post_image"/>
            </div>
            <div class="right_side_container">
                <div class="header_container">
                    <div class="header">
                        <div class="profile_image_container">
                            <img th:src="@{/images/default_profile.jpg}" class="member_profile_img"/>
                        </div>
                        <div>
                            <span class="author_username">pjh_jn</span>
                        </div>
                    </div>
                </div>
                <div class="right_content_container">
                    <div class="content_comment_container">
                        <ul class = "content_comment_sub_container">
                            <div class="item_container">
                                <div class="profile_image_container">
                                    <img th:src="@{/images/default_profile.jpg}" class="member_profile_img"/>
                                </div>
                                <div>
                                    <span class="author_username">pjh_jn</span>
                                    <span class="post_content"> 컨텐츠 입니다.</span>
                                </div>
                            </div>
                            <div class="item_container">
                                <section class="container__comments">
                                    <ul class="comments">

                                    </ul>
                                </section>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

</body>
<script th:inline="javascript">
    const getPost = (id) => {
        axios({
            method: "GET",
            url: '/api/posts/' + id,
        }).then((res) => {
            renderPost(res.data.response)
            console.log(res.data.response);
        }).catch(error => {
            console.log("error" + error);
        })
    }

    const renderPost = (post) => {
        let postImage = document.querySelector(".post_container .image_container .post_image");
        const postId = post.id
        const serverFileName = post.postImageResponse[0].serverFileName;
        console.log(postId);
        console.log(serverFileName);
        postImage.setAttribute("src", "http://localhost:8080/api/posts/" +postId + "/image/" + serverFileName)
        document.querySelector(".item_container .author_username").innerHTML = post.member.username;
        document.querySelector(".header .author_username").innerHTML = post.member.username;
        document.querySelector(".post_content").innerHTML = post.content;

    }
    getPost([[${id}]]);
</script>
<script th:inline="javascript">
    let cursorId;

    const id =  [[${id}]];
    const search = (id) => {
        axios({
            method: "GET",
            url: '/api/comments/post/' + id,
            params: {
                "postId": id,
                "id": cursorId,
                "limit": 5,
            }
        }).then((res) => {
            console.log(res.data.response);
            renderComments(res.data.response);

        }).catch(error => {
            console.log("error" + error);
        })
    }

    search(id);
    const renderComments = (comments) => {
        let commentsHTML = "";
        comments.forEach(function (comment) {
            commentsHTML += `<li class='comments__item'>`;
            commentsHTML += `<div class='comments__item__container'>`;
            commentsHTML += `<div class='profile_image_container'>`;
            commentsHTML += `<img class='profile_image' src='/api/profiles/${comment.memberId}/image' alt='profile'/> </div>`
            commentsHTML += `<div class='comments__item__comment'>` +
                `<p class='comment__item__content'>` +
                `<b> ${comment.username} </b>` +
                `<br/> ${comment.content} </p>` +
                `<p class='comments__item__history'> ${comment.createdAt} ∙ ${comment.isUpdate === true ? '수정됨 ∙' : ''}  좋아요  ${comment.likes} 개 </p></br>
                                    </div>`
            commentsHTML += `<span class='comments__item__like'>` +
                `<img class='like_image' src='/images/icon/favorite.png\' alt='like' />` +
                `</span>
                 </li>`
            cursorId = comment.id;
        });

        document.querySelector(".comments").insertAdjacentHTML("beforeend", commentsHTML);
    }

    const getScrollTop = () => {
        return (window.scrollY !== undefined) ? window.scrollY : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    };

    const getDocumentHeight = () => {
        const body = document.body;
        const html = document.documentElement;

        return Math.max(
            body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight
        );
    };

    let throttleCheck;
    const throttle = (callback, milliseconds) => {
        if (!throttleCheck) {
            throttleCheck = setTimeout(() => {
                callback();
                throttleCheck = false;
            }, milliseconds);
        }
    };

    const onscroll = () => {
        throttle(() => {
            if (getScrollTop() < getDocumentHeight() - window.innerHeight)
                return;
            search(id);
        }, 700);
    };
    window.addEventListener("scroll", onscroll);

</script>
</html>